html {
  scroll-behavior: smooth;
}

body{
	background-color: white;

}

.nav-item:hover{
	margin-right: 1rem;
	margin-left: 1rem;
	font-size: 18px;
	font-weight: bold;
}
.navbar{
	position: fixed;
	width: 100%;
	z-index: 1;
}



.card{
	box-shadow: 0rem 2px 1px;
}
.list-group-item{
	text-align: left;
}

.collapse{
	margin-bottom: 1rem;
}

.btn{
	background-color: white;
	color: black;
	width: 20rem;
	height: auto;
}
.btn:hover{
	background-color: green;
}

.nav-item{
	margin-right: 0.5rem;
}


.footer{
  	
  	bottom: 0;  	
  	background-color: white;
  	color: black;
  	text-align: center;
}

#scrollBtn {
  display: none; 
  position: fixed; 
  bottom: 4rem; 
  right: 1rem; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red;
  color: white; 
  padding: 0.5rem; 
  border-radius: 10px; 
}

#scrollBtn:hover {
  background-color: #555; 
}