body{
	background-color: white;

}

.card{
	box-shadow: 0rem 2px 1px;
}
.list-group-item{
	text-align: left;
}

.collapse{
	margin-bottom: 1rem;
}

.btn{
	background-color: white;
	color: black;
	width: 20rem;
	height: auto;
}
.btn:hover{
	background-color: green;
}

#projectbtn1,#projectbtn2,#projectbtn3{
	width: 100%;
	text-align: center;
}

.navbar{
	position: fixed;
	width: 100%;
	z-index: 1;
}
.footer{
  	
  	bottom: 0;  	
  	background-color: #A1887F;
  	color: white;
  	text-align: center;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 1rem; 
  right: 1rem; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red;
  color: white; 
  padding: 0.5rem; 
  border-radius: 10px; 
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}