body{
	background-color: white;

}

.card{
	box-shadow: 0rem 2px 1px;



}
.list-group-item{
	text-align: left;
}

.collapse{
	margin-bottom: 1rem;
}

.btn{
	
	width: 20rem;
	height: auto;
}

#projectbtn1,#projectbtn2{
	width: 50%;
}